/* content */
/* Auto layout */
.content {
    
 background-color: #FDF9FF;

}
.content .container{
    display: block;
}

/* banner */
.banner {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.banner img{
    width: 1920px;
}
.large_btn {
    /* Auto layout */

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px 12px 20px;
    width: fit-content;
    height: fit-content;
    left: calc(50% - 150.81px/2);
    outline: none;
    border: none;

    background: #532D6D;
    border-radius: 4px;
}

#btn1 {
    position: absolute;
    top: 500px;
}

.large_btn a {


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-shadow: 0px 1px 10px #FFFFFF;
    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.large_btn:hover {
    background: #FFFFFF;
    border: #532D6D;
    outline: auto;
    outline-style: ridge;
    outline-color: #532D6D;
}

.large_btn:active {
    background: none;
}

.large_btn:hover a {
    color: #532D6D;
    text-shadow: 0px 1px 10px #532D6D;
}

#wakeup {

    /* Wake Up to Toasted */

    height: 54px;
    top: 240px;

}

.title {
    /* identical to box height, or 123% */

    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-shadow: 0px 1px 10px #532D6D;
    color: #532D6D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 950;
    line-height: 54px;

}

#wakeup_details {
    top: 332px;
    width: 416px;
    height: 114px;
}

.details {

    position: absolute;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* or 144% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #532D6D;

}


/* MOST ORDERED */
#mo {
    padding: 20px;
    position: relative;
    width: 330px;
    height: 35px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* identical to box height, or 97% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #532D6D;

    text-shadow: 0px 1px 6px #532D6D;

}

.row_prd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 54px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    height: fit-content;
    margin: 0 auto;
    top: 80px;

}

.prd_box {
    padding-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}.prd_box button{
    
    border-radius: 4px;
    background-color: #532D6D;
}
.prd_box button a{
    font-weight: 700;
    color: #FDF9FF;
}

.fueled {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.fueled img.pc {
    width: 1920px;
}
#fueled_title{
    padding-top: 280px;
}

#fueled_details {
    padding-top: 348px;
    width: 525px;
    height: 44px;
}

#btn2 {
    margin-top: 400px;
}
