a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
    background: none;
}
body{
    font-family: Montserrat;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.mobi{
    display: none;
}
.header {
    z-index: 999;
    position: fixed;
    left: 0px;
    margin-top: -10px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 10px #505054;
    color: #505054;
    background-color: #ffffff;

}
.header_mobile{
    z-index: 999;
    display: none;
    position: fixed;
    background-color: #ffffff;
    width: 768px;
    box-shadow: 0px 1px 10px #505054;
}
.btn-menu{
    font-size: 96px;
}
.header_mobile .container img{
    padding-bottom: 10px;
    width: 400px;
    height: 80px;
}
.list_menu .menu{
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 40px;
    padding-right: 200px;
    top: 80px;
}
.list_menu .menu li{
    text-align: left;
    font-size: 24px;
    padding: 40px;
}
.list_menu #butn:active> .menu{
    display: block;
}
.list_menu #butn:hover> .menu{
    display: block;
}
.header .container{
    padding-top: 16px;
    justify-content: space-between;
}
img.logo {
    float: left;
    width: 202px;
    height: 40px;
    padding: 0 20px 0px 20px;
}

.menu_box {
padding-right: 20px;
}

ul {
    list-style: none;
}

.menu_box ul.menu {
    display: flex;
    width: 815px;
    font-weight: 900;
    font-size: 14px;
    align-items: center;
    justify-content: space-between  ;
}

.list_menu ul {
    display: block;
}
.menu li:hover {
    text-shadow: 0px 0px 1px #505054;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1512px) {
	.container {
		max-width: 1512px;
	}
}
@media only screen and (min-width: 1220px) {
	.container {
		min-width: 1512px;
	}
    .footer_content{
        min-width: 1220px;
    padding: 96px 146px;
    }
    .title{
        
    font-size: 48px;
    }
    #mo{
        font-size: 36px;
    }
}
@media only screen and (min-width: 768px){
    .title{
        
    font-size: 48px;
    }
    #mo{
        font-size: 36px;
    }
    .prd_box{
        width: 20%;
        height: 300px;
    }
    .prd_box img{
        padding: 20px;
        width: 135px;
        height: 135px;
    }
    .name_prod{
        font-size: 20px;
        font-weight: 950;
        padding-bottom: 20px;
    }
    .prod_price{
        font-weight: 900;
        padding-bottom: 20px;
    }
    .prd_box button{
        border-radius: 4px;
        background-color: #532D6D;
        padding: 6px 24px 6px 24px;
    }

}

/*------ipad mini------*/
@media only screen and (max-width: 768px) {
    .pc{
        display: none;
    }
    .mobi{
        display: block;
    }
    img.mobi{
        max-width: 768px;
    }
    .header{
        display: none;
    }
    .header_mobile{
        display: block;
    }
    .footer_content{
        width: 768px;
        padding: 96px 0px;
    }
    .footer_content .osc{
        margin: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 400px;
    }
    .osc ul li{
        display: none;
        position: absolute;
    }
    .footer_content .cpy_r{
        padding-left: 40px;
        flex-direction: column;
    }
    .title{
        
    font-size: 48px;
    }
    #mo{
        font-size: 36px;
    }
    .prd_box{
        width: 45%;
        height: 300px;
    }
}

/*------mobile------*/
@media only screen and (max-width: 375px){
    .header_mobile{
        margin-left: -7px;
        width: 375px;
    }
    .btn-menu{
        font-size: 52px;
    }
    .header_mobile .container img{
        padding-bottom: 10px;
        width: 200px;
        height: 40px;
    }
    img.mobi{
        max-width: 375px;
    }
    .footer_content{
        width: 375px;
        padding: 24px 0px;
    }
    .cpy_r {
        padding-top: 80px;
        width: 375px;
        height: 68px;
        display: flex;
    }.prd_box{
        
    width: 42%;
    height: 180px;
    }
    
    .footer_content .osc{
        margin: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 220px;
    }
    .left,.right{
        display: none;
    }
    #wakeup_details, #fueled_details{
        display: none;
    }
    .list_menu .menu{
        margin-left: -10px;
        padding: 10px;
        padding-right: 50px;
        top: 40px;
    }
    .list_menu .menu li{
        font-size: 12px;
        padding: 20px;
    }
    .title{
        font-size: 24px;
    }
    #mo{
        
    font-size: 20px;
    }
    .prd_box img{
        padding: 10px;
        width: 80px;
        height: 80px;
    }

    .name_prod{
        font-size: 14px;
        font-weight: 950;
        padding-bottom: 14px;
    }
    .prod_price{
        font-weight: 900;
        padding-bottom: 14px;
    }
    .prd_box button{
        padding: 6px 16px 6px 16px;
    }

}